1.Write a string index that returns just the letter 'r'  from 'Hello World' .

In [4]:
a1="Hello World"

def print1():
    return (a1[8])
print1()

'r'

2.Use string slicing to grab the word 'ink'  from inside 'tinker‘

In [11]:
a2="tinker"
def print2():
    return (a2[1:4])
print2()

'ink'

3.Write an expression using any of the string formatting methods we have 
learned to return the phrase 'Python rules!‘

In [16]:
a3 = "{Java}{sucks}"
print(a3.format(Java = "Python ",sucks= "rules!"))

Python rules!

4.Create a list that contains at least one string, one integer and one float.

In [23]:
oneString="1.755"
oneFloat=float(oneString)
oneInt=int(oneFloat)
a4=[oneString,oneFloat,oneInt]
print(a4)

['1.755', 1.755, 1]

5.Create a dictionary where all the keys are strings, and all the values are integers.

In [29]:
A_Dictionary_Where_All_The_Keys_Are_Strings_Season_2={"eh":21,"Can you do something for me?":21,"21":21}
print(A_Dictionary_Where_All_The_Keys_Are_Strings_Season_2)

{'eh': 21, 'Can you do something for me?': 21, '21': 21}

5.Write an expression that would turn the string 'Mississippi'  into a set of unique letters.

In [40]:
a6="Mississippi"
a6Set={""}
for n,letter in enumerate(a6):
    a6Set.add(letter)
    a6String=''.join(a6Set)
print(a6String)

psiM

6.Write a script that opens a file named 'test.txt' , writes 'Hello World'  to the file, then closes it.

In [43]:
a7=open('C:\\Users\\Masum Mazid\\Python-Ally\\test.txt','w')

a7.write("Hello World")

11

9.Write a function called myfunc that prints the string 'Hello World'.

In [44]:
def myfunc():
    print("Hello World")
myfunc()

Hello World

 10.Define a function called myfunc that takes in a name, and prints 'Hello Name‘

In [45]:
a9="name"
def myfunc(a9):
    print("Hello World")
myfunc(a9)

Hello World

11.Define a function called myfunc that takes in a Boolean value (True or False). If True, return 'Hello', and if False, return 'Goodbye‘

In [49]:
a10=9>3
a10_1=9<3
def myfunc(a10):
    if(a10):
        print("Hello World")
    else:
        print("Goodbye") 
myfunc(a10)
myfunc(a10_1)

Hello World
Goodbye

12.Define a function called myfunc that takes three arguments, x, y and z.If z is True, return x.  If z is False, return y.

In [59]:
z=True
x="x"
y="y"
def myfunc(z,x,y):
    if(z):
        return x
    else:
        return y
    
myfunc(z,x,y)

z=False
myfunc(z,x,y)

'y'

13.Define a function called myfunc that takes in two arguments and returns their sum.

In [58]:
def myfunc (x,y):
    return x+ y
myfunc(4,6)

10

14.Define a function called is_even that takes in one argument, and returns True if the passed-in value is even, False if it is not.

In [61]:
def is_even(x):
    if(x%2==0):
        return True
    else:
        return False
is_even(2)

True

15.Define a function called is_greater that takes in two arguments, and returns True if the first value is greater than the second, False if it is less than or equal to the second.

In [ ]:
def is_greater(a, b):
    if a > b:
        return True
    else:
        return False

16.Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.

In [68]:
def myfunc(*args):
    total=0
    for arg in args:
        total=total+arg
    return total
myfunc(284,874,237,77,965,56,85,24)

2602

17.Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

In [66]:
def myfunc(*args):
    result = []
    for arg in args:
        if arg % 2 == 0:
            result.append(arg)
    return result
myfunc(284,874,237,77,965,56,85,24)

[284, 874, 56, 24]

18.Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, so long as letters alternate throughout the string.

In [65]:
def myfunc(a18):
    result = ""
    for i in range(len(a18)):
        if i % 2 == 0:
            result += a18[i].upper()
        else:
            result += a18[i].lower()
    return result
myfunc("the end")

'ThE EnD'

EXERCISES